* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --gray : #343541;
    --green : #0FA47F;
}

.welcome-page {
    min-height: 100vh;
    background: var(--gray);
    color: #ffffff;
}

.logo {
    width: 39px;
}

a {
    background: var(--green);
    color: #ffffff;
    text-decoration: none;
}

.form-page {
    background-color: #ffffff;
    min-height: 75vh;
    color: #2E3339;
}

.email-label {
    color: #C3C8CF;
    top: 7%;
    left: 5%;
}

.border-gray {
    border: 1px solid #C3C8CF;
}

.email-input:focus {
    outline: 1px solid var(--green);
    border: none;
}

.email-input:focus + .email-label {
    top: -15px;
    left: 10px;
    background-color: #ffffff;
    color: var(--green) ;
}
.line {
    height: 1px;
    background-color: #C3C8CF;
}

.span {
    top: -10px;
    background-color: #ffffff;
    left: 42%;
}

.change-page-btn {
    background-color: #ffffff !important;
    color: var(--green) !important;
}

.checkbox {
    width: 30px;
    height: 30px;
    border: 2px solid #c1c1c1;
    background-color: transparent;
}

.form-logo {
    width: 31px;
}

.checked {
    background: var(--green);
}

.checkbox > * {
    color: #ffffff;
}

.py-75 {
    padding-block: 0.75rem;
}

.leftside {
    background-color: #202123;
    width: 20%;
}

.chat-page {
    background-color: #343541;
    width: 80%;
}

.chatbot-page {
    min-height: 100vh;
    color: #ffffff;
}

.chatbot-dark {
    color: #202123 !important;
}

.new-chat-btn {
    border: 1px solid #444654;
}

.leftside {
    font-size: 13px;
}

.bg-transparent {
    background-color: transparent;
}

.leftside-options {
    border-top: 1px solid #444654;
}

.h-full {
    height: 100vh;
}

.description-link {
    background-color: transparent;
    text-decoration: underline;
    color: #9A9B9F;
}

.description {
    font-size: 12px;
    color: #9A9B9F;
}

.fs-15 {
    font-size: 15px !important;
}

.chatbot-description {
    background-color: #444654;
}

.pointer {
    cursor: pointer;
}

.chatbox {
    border: 1px solid #444654;
}